@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
ul li, ol li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.bo{
	/*border: 1px solid red;*/
	box-sizing: border-box;
}
#wrapper, #login_wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: normal;
}
.uppercase{
	text-transform: uppercase;
}
.italic{
	font-style: italic;
}
body{
	font-family: 'Noto Sans KR', sans-serif;
	overflow-x: hidden;
}

/*header style*/
header{
	height: 124px;
}
header>div.top{
	width: 100%;
	height: 30px;
	background-color: #F5F5F5;
}
header>div.top .left{
	float: left;
	margin-left: 2.3%;
	width: 213px;
	text-align: center;
	background-color: #E8E8E8;
}
header>div.top .left span{
	display: inline-block;
	font-size: 15px;
	position: relative;
	top: 3px;
}
header>div.top .left a{
	line-height: 28px;
	font-size: 12px;
	color: black;
	font-weight: 300;
}
header>div.top .right{
	float: right;
	margin-right: 2.3%;
}
header>div.top .right span{
	display: inline-block;
	font-size: 15px;
	position: relative;
	top: 3px;
}
header>div.top .right a{
	margin: 0 13px;
	line-height: 28px;
	font-size: 13px;
	color: grey;
	font-weight: 300;
}
header>div.top .right a:last-child{
	margin-right: 0;
}

header>div.top .right a:nth-child(1)::after,
header>div.top .right a:nth-child(2)::after{
	content: "|";
	position: relative;
	left: 13px;	
}
header>div.top .right::after{
	display: block;
	content: "";
	clear: both;
}



/*gnb style*/
.mobile_nav_parent{
	display: none;
}
div.nav_parent{
	width: 100%;
	height: 5000px;
	position: relative;
	top: 0;
}
nav#gnb{
	width: 100%;
	height: 94px;
	position: sticky;
	top: 0;
	z-index: 9999;
	background-color: white;
	float: left;
}
nav#gnb .left{
	width: 331px;
	height: 58px;
	background: url(../images/home/01_header/reafinalmainlogo-1.png) top left/contain no-repeat;
	margin-left: 43px;
	line-height: 56px;
	margin-top: 18px;
	
}
nav#gnb .left a{
	text-indent: -9999px;
	display: block;
	width: 100%;
	height: 100%;
}
nav#gnb ul{
	position: absolute;
	top: 0;
	width:730px;
	overflow: hidden;
	right: 210px;

}
nav#gnb li{
	float: left;
	width: 14.285%;
	height: 94px;
	line-height: 90px;
	text-align: center;
	padding: 0 2% auto;
	box-sizing: border-box;
}
nav#gnb li a{
	color: black;
	font-size: 15px;
	display: block;
	width: 100%;
	height: 100%;
	font-weight: bold;
}
nav#gnb .nav_active, nav#gnb li:hover a, nav#mobile_gnb .nav_active{
	color: #210BC4 !important;
}
nav#gnb .right{
	width: 150px;
	position: absolute;
	top: 29px;
	right: 30px;
	float: right;
}
nav#gnb .right a{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;	
	margin-right: 3px;	
}
nav#gnb .right a:nth-child(1){
	background: url(../images/home/02_gnb/30ins4.png) no-repeat;
}
nav#gnb .right a:nth-child(2){
	background: url(../images/home/02_gnb/30you4.png) no-repeat;
}
nav#gnb .right a:nth-child(3){
	background: url(../images/home/02_gnb/30fb.png) no-repeat;
}
nav#gnb .right a:nth-child(4){
	background: url(../images/home/02_gnb/30np.png) no-repeat;
}

/*section#main style*/
#main{
	position: relative;
	width: 100%;
	height: 500px;
	background: url(../images/club/main.jpg) center/cover no-repeat;
}
#main .p_wrapper{
	width: 600px;
	height: 210px;
	margin: 0 auto;
	text-align: center;
	color: white;
	position: relative;
	top: 173px;
}
#main .p_wrapper p:first-child{
	font-size: 25px;
	color: #1f358b;
	font-weight: bold;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 0 1px 1px rgba(0,0,0,0.4);
}
#main .p_wrapper h1{
	font-size: 50px;
	font-weight: bold;
	line-height: 55px;
}
#main .p_wrapper p:last-child{
	font-size: 17px;
	padding-top: 20px;
}

/*section#introduce style*/
#introduce{
	width: 100%;
	background-color: #FAFAFA;
}

#mobile_introduce{
	display: none;
}
/*emb style*/
#introduce .emb_wrapper{
	width: 950px;
	height: 755px;
	margin: 0 auto;
	position: relative;
}
#introduce .emb_wrapper .p_wrapper{
	text-align: center;
	width: 915px;
	height: 195px;
	padding-top: 75px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	margin-left: -457.5px;
}
#introduce .emb_wrapper .p_wrapper h1{
	font-size: 28px;
	width: 150px;
	margin: 0 auto 25px auto;
}
#introduce .emb_wrapper .p_wrapper p{
	width: 910px;
	margin: 0 auto;
	font-size: 17px;
	color: #777777;
}
#introduce .emb_wrapper .p_wrapper p::after{
	display: block;
	content: "";
	width: 1px;
	height: 45px;
	background-color: black;
	position: absolute;
	left: 50%;
	margin-left: -49.5px;
	margin: 20px 0 30px 0;
}
#introduce .emb_wrapper .bg_white{
	background-color: white;
	width: 820px;
	height: 480px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -410px;
}
#introduce .emb_wrapper .bg_white .emb{
	width: 600px;
	height: 325px;
	background: url(../images/club/emblem.png) no-repeat center/contain;
	margin: 40px auto 35px auto;
}
#introduce .emb_wrapper .bg_white div:last-child{
	border: 1px solid black;
	width: 240px;
	height: 37px;
	margin: 0 auto;
	text-align: center;
}
#introduce .emb_wrapper .bg_white div:last-child a{
	font-size: 14px;
	line-height: 37px;
	display: block;
	width: 100%;
	height: 100%;
}
#introduce .emb_wrapper .bg_white div:last-child:hover a{
	background-color: #121F91;
	color: white;
}
#introduce .emb_wrapper .bg_white div:last-child a span{
	position: relative;
	top: 6px;
	left: 2px;
}
#introduce .emb_wrapper .LBall{
	position: absolute;
	bottom: -50px;
	right: 20px;
	animation: LBall 0.9s infinite;
	animation-direction: alternate; 
	box-shadow: 13px 13px 13px rgba(222,222,222,0.45);
	border-radius: 100%;
}
#introduce .emb_wrapper .LBall div{
	width: 165px;
	height: 165px;
	background: url(../images/club/zsbn02.png) no-repeat center/contain;
	
}
@keyframes LBall {
	0%{bottom: -110px;}
	100%{bottom: -50px;}
}

/*mas style*/
#introduce .mas_wrapper{
	width: 950px;
	height: 690px;
	margin: 90px auto;
	position: relative;
}
#introduce .mas_wrapper .p_wrapper{
	text-align: center;
	width: 915px;
	height: 195px;
	padding-top: 75px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	margin-left: -457.5px;
}
#introduce .mas_wrapper .p_wrapper h1{
	font-size: 28px;
	width: 170px;
	margin: 0 auto 25px auto;
}
#introduce .mas_wrapper .p_wrapper p{
	width: 600px;
	margin: 0 auto;
	font-size: 17px;
	color: #777777;
}
#introduce .mas_wrapper .p_wrapper p::after{
	display: block;
	content: "";
	width: 1px;
	height: 45px;
	background-color: black;
	position: absolute;
	left: 50%;
	margin-left: -49.5px;
	margin: 20px 0 30px 0;
}
#introduce .mas_wrapper .bg_white{
	background-color: white;
	width: 820px;
	height: 410px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -410px;
}
#introduce .mas_wrapper .bg_white .mas{
	width: 600px;
	height: 325px;
	background: url(../images/club/cebbn02-2.png) no-repeat center/contain;;
	margin: 40px auto 35px auto;
}

#introduce .mas_wrapper .SBall{
	position: absolute;
	bottom: -50px;
	left: 30px;
	animation: SBall 1.2s infinite;
	animation-direction: alternate;
}

#introduce .mas_wrapper .SBall div{
	width: 106px;
	height: 106px;
	background: url(../images/club/zsbn02.png) no-repeat center/contain;
	box-shadow: 13px 13px 13px rgba(222,222,222,0.45);
	border-radius: 100%;
}
@keyframes SBall {
	0%{bottom: -54px;}
	100%{bottom: 10px;}
}
/*uni style*/
#introduce .uni_wrapper{
	width: 950px;
	height: 3200px;
	margin: 90px auto;
	position: relative;
}
#introduce .uni_wrapper .p_wrapper{
	text-align: center;
	width: 915px;
	height: 195px;
	padding-top: 75px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	margin-left: -457.5px;
}
#introduce .uni_wrapper .p_wrapper h1{
	font-size: 28px;
	width: 170px;
	margin: 0 auto 25px auto;
}
#introduce .uni_wrapper .p_wrapper h1::after{
	display: block;
	content: "";
	width: 1px;
	height: 30px;
	background-color: black;
	position: absolute;
	left: 50%;
	margin-left: -49.5px;
	margin: 20px 0 30px 0;
}
#introduce .uni_wrapper .bg_white:nth-of-type(2){
	background-color: white;
	width: 820px;
	height: 945px;
	position: absolute;
	top: 195px;
	left: 50%;
	margin-left: -410px;
	border-bottom: 1px solid #F6F6F6; 
	box-sizing: border-box;
}
#introduce .uni_wrapper .bg_white:nth-of-type(2) ul{
	width: 790px;
	height: 70px;
	border: 1px solid lightgrey;
	box-sizing: border-box;
	margin: 45px auto 40px auto;
}
#introduce .uni_wrapper .bg_white:nth-of-type(2) ul li{
	background-color: #0269B4;
	float: left;
	width: 16.667%;
	height: 100%;
	border-right: 1px solid white;
	box-sizing: border-box;
	line-height: 70px;
	text-align: center;
	color: white;
	font-size: 14px;
}
#introduce .uni_wrapper .bg_white:nth-of-type(2) ul li:last-child{
	border-right: none;
}
#introduce .uni_wrapper .bg_white:nth-of-type(2)>div{
	width: 580px;
	height: 640px;
	margin: 0 auto;
	overflow: hidden;
}
#introduce .uni_wrapper .bg_white:nth-of-type(2)>div div{
	width: 100%;
	height: 100%;	
}
#introduce .uni_wrapper .bg_white:nth-of-type(2)>div .uni2223{
	background: url(../images/club/23.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(2)>div .uni2122{
	background: url(../images/club/22.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(2)>div .uni2021{
	background: url(../images/club/21.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(2)>div .uni1920{
	background: url(../images/club/20.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(2)>div .uni1819{
	background: url(../images/club/19.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(2)>div .uni1718{
	background: url(../images/club/18.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(3){
	background-color: white;
	width: 820px;
	height: 945px;
	position: absolute;
	top: 1140px;
	left: 50%;
	margin-left: -410px;
	border-bottom: 2px solid #F2F2F2; 
	box-sizing: border-box;
}
#introduce .uni_wrapper .bg_white:nth-of-type(3) ul{
	width: 790px;
	height: 70px;
	border: 1px solid lightgrey;
	box-sizing: border-box;
	margin: 45px auto 40px auto;
}
#introduce .uni_wrapper .bg_white:nth-of-type(3) ul li{
	background-color: #0269B4;
	float: left;
	width: 16.667%;
	height: 100%;
	border-right: 1px solid white;
	box-sizing: border-box;
	line-height: 70px;
	text-align: center;
	color: white;
	font-size: 14px;
}
#introduce .uni_wrapper .bg_white:nth-of-type(3) ul li:last-child{
	border-right: none;
}
#introduce .uni_wrapper .bg_white:nth-of-type(3)>div{
	width: 580px;
	height: 640px;
	margin: 0 auto;
	overflow: hidden;
}
#introduce .uni_wrapper .bg_white:nth-of-type(3)>div div{
	width: 100%;
	height: 100%;	
}
#introduce .uni_wrapper .bg_white:nth-of-type(3)>div .uni1617{
	background: url(../images/club/17.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(3)>div .uni15{
	background: url(../images/club/15.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(3)>div .uni14{
	background: url(../images/club/14.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(3)>div .uni13{
	background: url(../images/club/13.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(3)>div .uni12{
	background: url(../images/club/12.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(3)>div .uni11{
	background: url(../images/club/11.jpg) no-repeat center/contain;			
}
#introduce .uni_wrapper .bg_white:nth-of-type(2) ul li,
#introduce .uni_wrapper .bg_white:nth-of-type(3) ul li{
	cursor: pointer;
}
#introduce .uni_wrapper .bg_white:nth-of-type(2) ul li:hover,
#introduce .uni_wrapper .bg_white:nth-of-type(3) ul li:hover{
	opacity: 0.9;
}
#introduce .uni_wrapper .bg_white:nth-of-type(4){
	background-color: white;
	width: 820px;
	height: 945px;
	position: absolute;
	top: 2085px;
	left: 50%;
	margin-left: -410px;
	border-bottom: 2px solid #F2F2F2; 
	box-sizing: border-box;
}
#introduce .uni_wrapper .bg_white:nth-of-type(4) ul{
	width: 790px;
	height: 70px;
	border: 1px solid lightgrey;
	box-sizing: border-box;
	margin: 45px auto 40px auto;
}
#introduce .uni_wrapper .bg_white:nth-of-type(4) ul li{
	/*background-color: #0269B4;*/
	float: left;
	width: 100%;
	height: 100%;
	border-right: 1px solid white;
	box-sizing: border-box;
	line-height: 70px;
	text-align: center;
	color: black;
	font-size: 14px;
}
#introduce .uni_wrapper .bg_white:nth-of-type(4)>div:nth-of-type(1){
	width: 580px;
	height: 640px;
	margin: 0 auto;
	overflow: hidden;
}
#introduce .uni_wrapper .bg_white:nth-of-type(4)>div:nth-of-type(1) div{
	width: 100%;
	height: 100%;	
	background: url(../images/club/10.jpg) no-repeat center/100%;
}
#introduce .uni_wrapper .bg_white:nth-of-type(4) .SBall{
	position: absolute;
	bottom: -50px;
	left: -40px;
	animation: SBall 1.2s infinite;
	animation-direction: alternate;
}

#introduce .uni_wrapper .bg_white:nth-of-type(4) .SBall div{
	width: 106px;
	height: 106px;
	background: url(../images/club/zsbn02.png) no-repeat center/contain;
	box-shadow: 13px 13px 13px rgba(222,222,222,0.45);
	border-radius: 100%;
}
@keyframes SBall {
	0%{bottom: -54px;}
	100%{bottom: 10px;}
}


#introduce .uni_wrapper .bg_white:nth-of-type(2) ul .li_active,
#introduce .uni_wrapper .bg_white:nth-of-type(3) ul .li_active,
#introduce .uni_wrapper .bg_white:nth-of-type(4) ul .li_active{
	background-color: white;
	color: black;
}






/*footer style*/
footer{
	width: 100%;
	height: 180px;
	position: relative;
	top: -90px;
	border-top: 1px solid lightgrey;
	box-sizing: border-box;
}
footer div:nth-of-type(1){
	width: 1200px;
	height: 118px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	border-bottom: 1px solid lightgrey;
}
footer div:nth-of-type(1) span:nth-child(1){
	display: inline-block;
	width: 234px;
	height: 40px;
	position: absolute;
	top: 36px;
	background: url(../images/home/12_footer/footermainlogo.png) no-repeat center/contain;
}
footer div:nth-of-type(1) span:nth-child(1) a{
	width: 100%;	
	height: 100%;	
	display: block;
	text-indent: -9999px;
}
footer div:nth-of-type(1) span:nth-child(2){
	display: inline-block;
	width: 470px;
	height: 40px;
	position: absolute;
	top: 50px;
	left: 276px;
}
footer div:nth-of-type(1) span:nth-child(2) a{
	position: relative;	
	width: 117.5px;	
	top: -5px;	
	left: -10px;	
	font-size: 14px;
	color: black;
	font-weight: normal;
	margin-right: 23px;
}
footer div:nth-of-type(1) span:nth-child(2) a:hover{
	color: red;
}
footer div:nth-of-type(1) span:nth-child(2) a::after{
	content: "|";
	color: grey;
	position: relative;
	left: 16px;
}

footer div:nth-of-type(1) span:nth-child(3){
	display: inline-block;
	position: relative;	
	width: 189px;
	height: 21px;
	top: 45px;
	left: 736px;
	background: url(../images/home/12_footer/zoe.png) no-repeat center/contain;
}
footer div:nth-of-type(1) span:nth-child(3) a{
	width: 100%;	
	height: 100%;	
	display: block;
	text-indent: -9999px;
}

footer div:nth-of-type(2){
	width: 1200px;
	height: 62px;
	position: absolute;
	top: 118px;
	left: 50%;
	margin-left: -600px;
}
footer div:nth-of-type(2) p{
	position: relative;
	top: 18px;
	font-size: 14px;
}


/*button style*/

div.button{
	border: 1px solid #1F358B;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	position: fixed;
	bottom: 65px;
	right: 25px;

}
div.button:hover{
	border-color: red;
}
div.button:hover a{
	color: red;
}
div.button a{
	display: block;
	width: 100%;
	height: 100%;
	color: #1F358B;
}
div.button a .button_wrapper{
	position: relative;
	left: 12px;
	top: 8px;
}





@media screen and (max-width: 1299px){
	/*gnb style*/
	div.nav_parent{
		height: 4700px;
	}
	nav#gnb ul{
		width:630px;
	}
	
	nav#gnb .right{
		right: 25px;
	}

	/*emb style*/
	
	#introduce .emb_wrapper .bg_white,
	#introduce .mas_wrapper .bg_white,
	#introduce .uni_wrapper .bg_white:nth-of-type(2),
	#introduce .uni_wrapper .bg_white:nth-of-type(3),
	#introduce .uni_wrapper .bg_white:nth-of-type(4){
		width: 755px;
		margin-left: -377.5px;
	}
	
	#introduce .emb_wrapper .bg_white div:last-child{
		width: 220px;
	}
	#introduce .emb_wrapper .LBall{
		right: 50px;
	}

	/*mas style*/
	#introduce .mas_wrapper .SBall{
		left: 60px;
	}


	/*uni style*/
	
	#introduce .uni_wrapper .bg_white:nth-of-type(2) ul,
	#introduce .uni_wrapper .bg_white:nth-of-type(3) ul,
	#introduce .uni_wrapper .bg_white:nth-of-type(4) ul{
		width: 725px;
		height: 70px;
	}
	/*footer style*/
	
	footer div:nth-of-type(1){
		width: 1100px;
		height: 116px;
		margin-left: -550px;
	}
	
	footer div:nth-of-type(1) span:nth-child(2){
		top: 53px;
		left: 265px;
	}
	footer div:nth-of-type(1) span:nth-child(2) a{
		font-size: 13px;
	}
	footer div:nth-of-type(1) span:nth-child(2) a::after{
		color: lightgrey;
	}
	footer div:nth-of-type(1) span:nth-child(3){
		top: 50px;
		left: 700px;
	}
	footer div:nth-of-type(2){
		width: 1100px;
		margin-left: -550px;
	}
	footer div:nth-of-type(2) p{
		font-size: 13.5px;

	}			
}

@media screen and (max-width: 1185px){
	/*gnb style*/
	div.nav_parent{
		height: 4200px;
	}
	nav#gnb ul{
		width:550px;
	}
	
	nav#gnb .right{
		right: 20px;
	}

	/*#introduce style*/
	#introduce .emb_wrapper .p_wrapper{
		padding-top: 65px;
	}

	/*emb style*/
	
	#introduce .emb_wrapper .bg_white,
	#introduce .mas_wrapper .bg_white,
	#introduce .uni_wrapper .bg_white:nth-of-type(2),
	#introduce .uni_wrapper .bg_white:nth-of-type(3),
	#introduce .uni_wrapper .bg_white:nth-of-type(4){
		width: 655px;
		margin-left: -327.5px;
	}
	
	#introduce .emb_wrapper .bg_white div:last-child{
		width: 185px;
	}
	#introduce .emb_wrapper .LBall{
		right: 100px;
	}

	/*mas style*/
	#introduce .mas_wrapper .SBall{
		left: 110px;
	}


	/*uni style*/
	
	#introduce .uni_wrapper .bg_white:nth-of-type(2) ul,
	#introduce .uni_wrapper .bg_white:nth-of-type(3) ul,
	#introduce .uni_wrapper .bg_white:nth-of-type(4) ul{
		width: 625px;
	}

	/*footer style*/
	
	footer div:nth-of-type(1){
		width: 950px;
		margin-left: -475px;
	}
	
	footer div:nth-of-type(1) span:nth-child(2){
		top: 53px;
		left: 265px;
	}
	footer div:nth-of-type(1) span:nth-child(2) a{
		margin-right: 4px;
	}
	footer div:nth-of-type(1) span:nth-child(2) a::after{
		left: 6px;
	}
	footer div:nth-of-type(1) span:nth-child(3){
		left: 620px;
	}
	footer div:nth-of-type(2){
		width: 950px;
		margin-left: -475px;

	}
	footer div:nth-of-type(2) p{
		font-size: 13.5px;

	}
}

@media screen and (max-width: 1100px){
	/*gnb style*/
	div.nav_parent{
		height: 4200px;
	}
	nav#gnb ul{
		width:460px;
	}
	nav#gnb ul li a{
		font-size: 12px;
	}
	nav#gnb .right{
		right: 15px;
	}


	
	/*footer style*/
	footer div:nth-of-type(1) span:nth-child(2){
		top: 50px;
	}
	footer div:nth-of-type(1) span:nth-child(3){
		top: 47px;
	}
}

@media screen and (max-width: 980px){
	header>div.top, header>div.nav_parent{
		display: none;
	}

	/*mobile nav style*/
	
	.mobile_nav_parent{
		display: block;
		width: 100%;
		height: 75px;
		position: relative;
	}
	nav#mobile_gnb{
		width: 100%;
		height: 100%;
	}
	nav#mobile_gnb .mobile_logo{
		width: 214px;
		height: 35px;
		background: url(../images/home/12_footer/footermainlogo.png) no-repeat;
		background-size: cover;
		position: relative;
		top: 20px;
		left: 50%;
		margin-left: -107px;
	}
	nav#mobile_gnb .mobile_logo a,
	nav#mobile_gnb .mobile_left_hambergerBtn a,
	nav#mobile_gnb .mobile_right_hambergerBtn a{
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -9999px;
	}
	nav#mobile_gnb .mobile_left_hambergerBtn{
		width: 23px;
		height: 21px;
		background: url(../images/hamberger_btn.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: 24px;
		left: 45px;
	}

	nav#mobile_gnb .mobile_menu_left{
		position: relative;
		top: 38px;
		width: 100%;
		height: 325px;
		margin: 0 auto;
		z-index: 500;
		background-color: white;
	}
	nav#mobile_gnb .mobile_menu_left li{
		margin-left: 50px;
		height: 45px;
		line-height: 38px;
		position: relative;
	}
	nav#mobile_gnb .mobile_menu_left li a{
		font-size: 13.5px;
		position: absolute;
		left: 2px;
		color: black;
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	nav#mobile_gnb .mobile_menu_left li a:hover{
		color: #210BC4;
	}
	nav#mobile_gnb .mobile_menu_left li::after{
		content: "";
		background: url(../images/chevron_b_right.png) no-repeat;
		background-size: cover;
		width: 8px;
		height: 10px;
		position: absolute;
		right: 0;
		margin-right: 50px;
		top: 17px;
		display: block;	
		cursor: pointer;
	}
	nav#mobile_gnb .mobile_menu_left li:nth-child(1)::after{
		display: none;
	}
	
	nav#mobile_gnb .mobile_right{
		width: 147px;
		position: absolute;
		top: 18px;
		right: 93px;
	}
	nav#mobile_gnb .mobile_right a{
		display: inline-block;
		width: 30px;
		height: 30px;
		text-indent: -9999px;	
		margin-right: 3px;		
	}
	nav#mobile_gnb .mobile_right a:nth-child(1){
		background: url(../images/home/02_gnb/30ins4.png) no-repeat;
	}
	nav#mobile_gnb .mobile_right a:nth-child(2){
		background: url(../images/home/02_gnb/30you4.png) no-repeat;
	}
	nav#mobile_gnb .mobile_right a:nth-child(3){
		background: url(../images/home/02_gnb/30fb.png) no-repeat;
	}
	nav#mobile_gnb .mobile_right a:nth-child(4){
		background: url(../images/home/02_gnb/30np.png) no-repeat;
	}

	nav#mobile_gnb .mobile_right_hambergerBtn{
		width: 23px;
		height: 21px;
		background: url(../images/hamberger_btn.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: 27px;
		right: 50px;
	}
	nav#mobile_gnb .mobile_menu_right{
		height: 960px;
		background-color: #1B1B1B;
		position: fixed;
		right: 0;
		top: 0;
		width: 485px;
		z-index: 10;
	}
	
	nav#mobile_gnb .mobile_menu_right .close{
		color: white;
		position: absolute;
		right: 20px;
		top: 20px;
		font-weight: lighter;
		cursor: pointer;
		transition: transform 0.5s;
	}
	nav#mobile_gnb .mobile_menu_right .close:hover{
		transform: rotate(180deg);
	}

	nav#mobile_gnb .mobile_menu_right>div{
		width: 100%;
		height: 120px;
		position: relative;								
	}

	nav#mobile_gnb .mobile_menu_right>div h5,
	nav#mobile_gnb .mobile_menu_right>div ul li,
	nav#mobile_gnb .mobile_menu_right>div ul li a,
	nav#mobile_gnb .mobile_menu_right>div p{
		color: white;
		text-align: center;
	}
	nav#mobile_gnb .mobile_menu_right>div ul li a,
	nav#mobile_gnb .mobile_menu_right>div p{
		font-size: 13px;
		color: #C0C0C0 !important;
	}

	nav#mobile_gnb .mobile_menu_right>div:nth-of-type(1){
		top: 55px;
	}
	nav#mobile_gnb .mobile_menu_right>div ul li{
		margin: 15px auto 0px;
		width: 135px;
	}
	nav#mobile_gnb .mobile_menu_right>div ul li a{
		display: block;
		width: 100%;
		height: 100%;
	}
	nav#mobile_gnb .mobile_menu_right>div ul li a:hover{
		color: white !important;
	}

	nav#mobile_gnb .mobile_menu_right>div:nth-of-type(2){
		top: 126px;
	}
	nav#mobile_gnb .mobile_menu_right>div:nth-of-type(3){
		top: 320px;
	}
	nav#mobile_gnb .mobile_menu_right>div:nth-of-type(4){
		top: 363px;
	}

	/*section#main style*/
	#main{
		top: -50px;
	}

	#introduce{
		position: relative;
		top: -50px;
	}
	#introduce .emb_wrapper,
	#introduce .mas_wrapper,
	#introduce .uni_wrapper{
		width: 85%;
	}

	#introduce .emb_wrapper .p_wrapper p{
		width: 800px;
	}

	#introduce .emb_wrapper .bg_white,
	#introduce .mas_wrapper .bg_white{
		width: 530px;
		margin-left: -265px;
		height: 430px;
	}

	#introduce .emb_wrapper .bg_white .emb,
	#introduce .mas_wrapper .bg_white .mas{
		width: 500px;
		height: 270px;
	}
	#introduce .emb_wrapper .bg_white div:last-child{
		width: 155px;
	}
	#introduce .emb_wrapper .LBall{
		left: 70%;
	}
	#introduce .mas_wrapper .bg_white{
		height: 355px;
	}
	/*mas style*/
	#introduce .mas_wrapper .SBall{
		left: 4.5%;
	}
	#introduce .uni_wrapper{
		height: 2700px;
	}

	#introduce .uni_wrapper .bg_white:nth-of-type(2),
	#introduce .uni_wrapper .bg_white:nth-of-type(3),
	#introduce .uni_wrapper .bg_white:nth-of-type(4){
		width: 530px;
		margin-left: -265px;
		height: 770px;
	}

	#introduce .uni_wrapper .bg_white:nth-of-type(2) ul,
	#introduce .uni_wrapper .bg_white:nth-of-type(3) ul,
	#introduce .uni_wrapper .bg_white:nth-of-type(4) ul{
		width: 500px;
		height: 100px;
	}
	#introduce .uni_wrapper .bg_white:nth-of-type(2) ul li,
	#introduce .uni_wrapper .bg_white:nth-of-type(3) ul li,
	#introduce .uni_wrapper .bg_white:nth-of-type(4) ul li{
		letter-spacing: -0.5px;
		line-height: 100px;
	}
	#introduce .uni_wrapper .bg_white:nth-of-type(2) div:nth-of-type(1),
	#introduce .uni_wrapper .bg_white:nth-of-type(3) div:nth-of-type(1),
	#introduce .uni_wrapper .bg_white:nth-of-type(4) div:nth-of-type(1){
		width: 445px;
		position: relative;
		top: -40px;
	}
	#introduce .uni_wrapper .bg_white:nth-of-type(3){
		top: 965px;
	}
	#introduce .uni_wrapper .bg_white:nth-of-type(4){
		top: 1735px;
	}
	
	#introduce .uni_wrapper .bg_white:nth-of-type(4) .SBall div{
		width: 106px;
		height: 106px;
		background: url(../images/club/zsbn02.png) no-repeat center/contain;
		box-shadow: 13px 13px 13px rgba(222,222,222,0.45);
	}
	@keyframes SBall {
		0%{bottom: -100px;}
		100%{bottom: -20px;}
	}

	/*footer style*/
	footer{
		top: -140px;
	}
	footer div:nth-of-type(1),
	footer div:nth-of-type(2){
		width: 770px;
		margin-left: -385px;
	}
	footer div:nth-of-type(1) span:nth-child(1){
		top: 30px;
	}
	footer div:nth-of-type(1) span:nth-child(2){
		top: 42px;
		left: 280px;
	}
	footer div:nth-of-type(1) span:nth-child(2) a{
		margin-right: 30px;
	}
	footer div:nth-of-type(1) span:nth-child(2) a::after{
		left: 18px;
	}
	footer div:nth-of-type(1) span:nth-child(3){
		top: 67px;
		left:25px;
	}
}

@media screen and (max-width: 770px){
	/*.mobile_nav_parent style*/
	.mobile_nav_parent .mobile_right{
		display: none;
	}

	/*main style*/
	section#main{
		height: 190px;
	}
	section#main div.p_wrapper{
		width: 300px;
		height: 95px;
		top: 50px;
	}
	#main .p_wrapper p:first-child{
		font-size: 14px;
	}
	#main .p_wrapper h1{
		font-size: 27px;
		line-height: 40px;
	}
	#main .p_wrapper p:last-child{
		font-size: 11px;
		padding-top: 4px;
	}

	/*#introduce style*/
	#introduce{
		display: none;
	}
	#mobile_introduce{
		display: block;
		width: 100%;
		background-color: #FAFAFA;
		position: relative;
		top: -50px;
	}
	#mobile_introduce .emb_wrapper,
	#mobile_introduce .mas_wrapper,
	#mobile_introduce .uni_wrapper{
		width: 95%;
		position: relative;
		left: 2.5%;	
	}
	#mobile_introduce .emb_wrapper .p_wrapper,
	#mobile_introduce .mas_wrapper .p_wrapper,
	#mobile_introduce .uni_wrapper .p_wrapper{
		text-align: center;
		width: 100%;
	}
	#mobile_introduce .emb_wrapper .p_wrapper,
	#mobile_introduce .uni_wrapper .p_wrapper{
		padding-top: 40px;
	}
	#mobile_introduce .emb_wrapper .p_wrapper h1,
	#mobile_introduce .mas_wrapper .p_wrapper h1,
	#mobile_introduce .uni_wrapper .p_wrapper h1{
		font-size: 19px;
		margin-bottom: 20px;
	}
	#mobile_introduce .emb_wrapper .p_wrapper p,
	#mobile_introduce .mas_wrapper .p_wrapper p{
		font-size: 14px;
		color: #6f6f6f;
		
	}
	#mobile_introduce .emb_wrapper .p_wrapper p::after,
	#mobile_introduce .mas_wrapper .p_wrapper p::after,
	#mobile_introduce .uni_wrapper .p_wrapper h1::after{
		display: block;
		content: "";
		width: 1px;
		height: 25px;
		background-color: black;
		position: absolute;
		left: 50%;
		margin-left: -49.5px;
		margin: 15px 0 30px 0;
	}
	#mobile_introduce .emb_wrapper .bg_white,
	#mobile_introduce .mas_wrapper .bg_white
	{
		position: relative;
		top: 60px;
		width: 100%;
		background-color: white;
	}
	#mobile_introduce .emb_wrapper .bg_white .emb,
	#mobile_introduce .mas_wrapper .bg_white .mas
	{
		width: 85%;
		position: relative;
		left: 7.5%;
		margin-top: 15px;
	}
	#mobile_introduce .emb_wrapper .bg_white .emb img,
	#mobile_introduce .mas_wrapper .bg_white .mas img
	{
		max-width: 100%;
		height: auto;
	}
	#mobile_introduce .emb_wrapper .bg_white div:last-child{
		height: 35px;
		border: 1px solid black;
		width: 30%;
		position: relative;
		left: 35%;
		top: -15px;
		margin-top: 35px;
		margin-bottom: 15px;
		text-align: center;
	}
	#mobile_introduce .emb_wrapper .bg_white div:last-child a{
		font-size: 14px;
		display: block;
		width: 100%;
		height: 100%;
	}
	#mobile_introduce .emb_wrapper .bg_white div:last-child a:hover{
		background-color: #121F91;
		color: white;
	}
	#mobile_introduce .emb_wrapper .bg_white div:last-child a span{
		position: relative;
		top: 5px;
	}
	#mobile_introduce .emb_wrapper .LBall{
		width: 16%;
		position: relative;
		left: 80%;
		animation: Lball 0.8s infinite;
		animation-direction: alternate;
	}
	#mobile_introduce .emb_wrapper .LBall img{
		max-width: 100%;
	}
	@keyframes Lball {
		0%{bottom: 0}
		100%{bottom: -50px}
	}

	#mobile_introduce .mas_wrapper{
		top: 75px;
	}
	#mobile_introduce .mas_wrapper .bg_white .mas{
		margin-bottom: 15px;
	}
	
	
	#mobile_introduce .mas_wrapper .SBall{
		width: 16%;
		position: relative;
		left: 5%;
		animation: Lball 0.8s infinite;
		animation-direction: alternate;
	}
	#mobile_introduce .mas_wrapper .SBall img{
		max-width: 100%;
	}
	@keyframes Sball {
		0%{bottom: 0}
		100%{bottom: -50px}
	}
	#mobile_introduce .uni_wrapper{
		top: 125px;
	}
	#mobile_introduce .uni_wrapper>div:nth-of-type(2),
	#mobile_introduce .uni_wrapper>div:nth-of-type(3),
	#mobile_introduce .uni_wrapper>div:nth-of-type(4){
		position: relative;
		top: 40px;
		width: 100%;
		background-color: white;
		border-bottom: 1px solid #F2F2F2;
	}
	#mobile_introduce .uni_wrapper>div:nth-of-type(2) ul,
	#mobile_introduce .uni_wrapper>div:nth-of-type(3) ul,
	#mobile_introduce .uni_wrapper>div:nth-of-type(4) ul{
		width: 90%;
		position: relative;
		left: 5%;
		margin-top: 15px;

	}
	#mobile_introduce .uni_wrapper>div:nth-of-type(2) ul::after,
	#mobile_introduce .uni_wrapper>div:nth-of-type(3) ul::after,
	#mobile_introduce .uni_wrapper>div:nth-of-type(4) ul::after{
		margin-bottom: 15px;
		display: block;
		content: "";
		clear: both;
	}
	#mobile_introduce .uni_wrapper>div:nth-of-type(2) ul li,
	#mobile_introduce .uni_wrapper>div:nth-of-type(3) ul li,
	#mobile_introduce .uni_wrapper>div:nth-of-type(4) ul li{
		width: 50%;
		height: 45px;
		float: left;
		border: 1px solid lightgrey;
		box-sizing: border-box;
		text-align: center;
		line-height: 45px;
		color: white;
		background-color:#0269B4; 
		cursor: pointer;
	}
	#mobile_introduce .uni_wrapper>div:nth-of-type(2) ul li:hover,
	#mobile_introduce .uni_wrapper>div:nth-of-type(3) ul li:hover,
	#mobile_introduce .uni_wrapper>div:nth-of-type(4) ul li:hover{
		opacity: 0.9;
	}
	#mobile_introduce .uni_wrapper>div:nth-of-type(2)>div,
	#mobile_introduce .uni_wrapper>div:nth-of-type(3)>div,
	#mobile_introduce .uni_wrapper>div:nth-of-type(4)>div{
		display: none;
		width: 85%;
		margin: 0 auto;
		position: relative;
	}
	#mobile_introduce .uni_wrapper>div:nth-of-type(2)>div,
	#mobile_introduce .uni_wrapper>div:nth-of-type(3)>div,
	#mobile_introduce .uni_wrapper>div:nth-of-type(4)>div{
		display: hidden;
		padding-bottom: 90px;
	}
	#mobile_introduce .uni_wrapper>div:nth-of-type(2)>div:nth-of-type(1),
	#mobile_introduce .uni_wrapper>div:nth-of-type(3)>div:nth-of-type(1),
	#mobile_introduce .uni_wrapper>div:nth-of-type(4)>div{
		display: block;
	}
	
	#mobile_introduce .uni_wrapper>div:nth-of-type(2)>div img,
	#mobile_introduce .uni_wrapper>div:nth-of-type(3)>div img,
	#mobile_introduce .uni_wrapper>div:nth-of-type(4)>div img{
		width: 100%;
		height: auto;
	}
	#mobile_introduce .uni_wrapper>div:nth-of-type(4) ul li{
		width: 100%;
		background-color: white;
		color: black;
	}
	
	#mobile_introduce .uni_wrapper>div:nth-of-type(4) div.SBall{
		width: 16%;
		position:absolute;
		bottom: 0px;
		height: 60px;
		left: 30px;
		animation: SballTwo 0.8s infinite;
		animation-direction: alternate;
	}
	#mobile_introduce .uni_wrapper>div:nth-of-type(4) div.SBall div img{
		max-width: 100%;
		height: auto;
	}
	@keyframes SballTwo {
		0%{bottom: 0}
		100%{bottom: -80px}
	}

	#mobile_introduce .uni_wrapper .bg_white:nth-of-type(2) ul .li_active,
	#mobile_introduce .uni_wrapper .bg_white:nth-of-type(3) ul .li_active,
	#mobile_introduce .uni_wrapper .bg_white:nth-of-type(4) ul .li_active{
		background-color: white;
		color: black;
	}

	#mobile_introduce:after{
		content: "";
		display: block;
		clear: both;
	}
	


	
	/*footer style*/
	footer{
		top: 110px;
		background-color: white;
		height: 150px;

	}
	footer div:nth-of-type(1){
		width: 90%;
		height: 100px;
		left: 5%;
		margin-left: 0;
		border-bottom: none;
		
	}
	footer div:nth-of-type(1) span:nth-child(1){
		width: 122px;
		height: 22px;
		top: 26px;
		left: 0px;
	}

	footer div:nth-of-type(1) span:nth-child(2){
		width: 270px;
		height: 20px;
		top: 67px;
		left: 10px;
	}
	footer div:nth-of-type(1) span:nth-child(2) a{
		width: 100%;	
		font-size: 10px;
		margin-right: 0;
	}
	footer div:nth-of-type(1) span:nth-child(2) a:hover{
		color: red;
	}
	footer div:nth-of-type(1) span:nth-child(2) a::after{
		content: "";
		display: none;
	}

	footer div:nth-of-type(1) span:nth-child(3){
		
		width: 115px;
		height: 15px;
		top: 67px;
		left: 265px;
		
	}


	footer div:nth-of-type(2){
		width: 90%;
		height: 50px;
		top: 100px;
		left: 5%;
		margin-left: 0;
		border-top: 1px solid lightgrey;


	}
	footer div:nth-of-type(2) p{
		
		top: 10px;
		font-size: 11px;
		width: 97%;
		left: 0px;

	}
}